<div class="md:max-w-screen-md mx-auto">
  <div class="text-white mx-[2rem] pb-[2rem]">
    <%= link_to "Back", root_path, class:"btn bg-blue-600 text-white p-2 my-auto font-bold rounded-md" %>
    <div class="justify-center w-full text-2xl text-center">
      <div>My Brag document</div>
      <div class="text-4xl font-bold text-[#00abf0]">Boss (2025)</div>
    </div>
    <div class="mt-[1.5rem] p-[1rem] border-[2px] border-[#00abf0] rounded-2xl">
      <div class="font-bold text-2xl text-[#00abf0]">Goals for this year</div>
      <ul class="list-disc mt-2 mx-[1rem]">
        <li>
          สร้าง project จาก tech stack ที่ได้เรียนไป รวมถึงออกแบบระบบตาม Business Requirement ที่สมมติขึ้นมาได้ และทดลองทำงานเป็นแบบ Scrum
        </li>
        <li>
          เขียน Blog ลง Medium สำหรับ GDG for campus Khon Kaen University 1-3 blogs
        </li>
      </ul>
    </div>
    <div class="mt-[1.5rem]">
      <div class="font-bold text-2xl text-[#00abf0]">Actions</div>
      <div class="text-lg font-bold mt-2">Self</div>
      <ul class="list-disc mx-[1rem]">
        <li>เรียนรู้ Tech stack ที่ต้องใช้สำหรับ Full-stack developer</li>
        <li>เรียนรู้การ Map Business term เข้ากับ Technical term</li>
        <li>ออกกำลังกายให้มากขึ้น วิ่งเก็บระยะทางอย่างน้อยเดือนละ 100 km</li>
      </ul>
      <div class="text-lg font-bold mt-2">Team</div>
      <ul class="list-disc mx-[1rem]">
        <li>สื่อสารกับทีมให้มากขึ้น รวมถึงฝึกการใช้คำพูดที่ทำให้เพื่อนเข้าใจได้มากขึ้น
        </li>
        <li>ทำกิจกรรมร่วมกับทีมให้มากขึ้น รวมถึงแชร์ความรู้กับเพื่อนในทีมมากขึ้น</li>
      </ul>
      <div class="text-lg font-bold mt-2">ODT</div>
      <ul class="list-disc mx-[1rem]">
        <li>Share ความรู้สิ่งที่เรารู้ที่คิดว่าเป็นประโยชน์ ให้กับเพื่อน ๆ ทีมอื่น</li>
        <li>เผยแพร่ความรู้ที่ได้จากพี่ ๆ ใน ODDS-TEAM </li>
        <li>เป็นน้อง Academy ที่ตั้งใจเรียนรู้จากสิ่งที่พี่ ๆ สอน</li>
      </ul>
      <div class="text-lg font-bold mt-2">Client</div>
      <ul class="list-disc mx-[1rem]">
        <li>มีงานส่งใน Project BMA Trainning และ THIS-TMLT ให้มี Increment ที่มีคุณภาพทุก Sprint </li>
      </ul>
    </div>
  </div>
</div>